.div1a,.div2a,.div2c{
    background-color: rgb(154, 214, 234);
}

.div1b,.div2b,.div3a{
    background-color: pink;
}

.div1{
    display: grid;
    grid-template-columns: 200px 75px;
}

.div2{
    display: grid;
    grid-template-columns:50px 1fr 75px;
}

.div3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap:10px;
}

.img4a{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.text4a{
    font-weight: 600;
    margin-bottom: 4px;
    margin-left: 7px;
}
.img4a1{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;

}
.text4a1{
    
    color: gray;
    font-size: 14px;
}
p{
    margin: 0;
}
.div4a1{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    column-gap: 5px;
    margin-bottom:8px ;
    margin-left: 7px;
}
.button4{
    padding: 6px 13px;
    background-color: rgb(64, 89, 261);
    color: white;
    border: none;
    margin-left:7px ;
    margin-bottom: 10px;
}
.div4a,.div4b,.div4c{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
}
.div4{
display: grid;
grid-template-columns: 150px 150px 150px;
column-gap: 30px;
}