.div1,.div2{
    display: flex;
    flex-direction: row;
    
}

.div1a{
    background-color: lightblue;
    width: 200px;
    
}
.div1b{
    background-color: pink;
    width: 75px;
}
p{
    margin: 0;
}

.div2a{
    background-color: lightblue;
    width: 50px;
}
.div2b{
    background-color: pink;
    flex:1;
}
.div2c{
    background-color: lightblue;
    width: 75px;
}

.div3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div3a,.div4a{
    background-color: pink;
}

.div4{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid gray;
    justify-content: space-between;
    align-items: center;
}
.maindiv5{

    width:300px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.319);

}
.div5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.div5a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.div5b{
    background-color: rgb(73, 73, 242);
    color:white;
    border-radius: 10px;
    padding: 1px 10px;
}

.div6{
    display: flex;
    border: 1px solid;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(106, 36, 172);
    
}

.div6a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    

}

.box6{
    flex: 1;
    max-width: 300px;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.button6{
    background-color: rgb(106, 36, 172);
    border: 1px solid white;
    color:white;
    padding: 5px;
}

.img7{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.text7a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.text7b,.text7c{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(97, 97, 97);

}
.button7{
    color: white;
    background-color: rgb(47, 136, 232);
    border: none;
    padding: 5px 9px;
    border-radius: 3px;
    margin-left: auto;
}


.div7{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    padding: 5px;
    gap: 10px;
}
.main7{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 320px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.332);
}