p{
    margin-top:0 ;
    margin-bottom: 0;
}
.text1{
    font-family:sekuya,arial;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 3px;
}

.text2{
    text-align: center;
    font-size: 17px;
    font-family: Montserrate;

}

.text2a{
    text-decoration: underline;
}